﻿@{ 
    var startDate = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd");
    var endDate = DateTime.Now.ToString("yyyy-MM-dd");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Viewer</title>
    <!-- Highlight JS for pretty JSON -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/json.min.js"></script>
    <!-- jQuery for sheer laziness -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        #toggleAutoRefreshLogs {
            margin-left: 4px;
        }

        .stack-trace {
            font-family: monospace;
        }

        .trace-item-with-source {
            font-weight: bold;
            cursor: help;
        }

        .source { 
            margin-top: 20px;
        }

        .source .offending-line {
            background: #ccc;
        }

        .logRowElement {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 4px;
        }

        .logRowElement.odd {
            background: #eee;
        }

        .logRowElement .btn {
            margin-right: 4px !important;
        }

        .logRowElement .label {
            font-family: monospace;
            margin-right: 4px;
        }

        .logRowElement .logRowText {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filters</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="searchQuery">Search</label>
                            <div class="input-group">
                                <input class="form-control" type="text" id="searchQuery">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="searchButton">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="logName">Log Name</label>
                            <select class="form-control" id="logName">
                                <option selected="selected" value="">All Logs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="logLevel">Log Level</label>
                            <select class="form-control" id="logLevel">
                                <option selected="selected" value="">All Levels</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Date Range</h3>
                    </div>
                    <div class="panel-body">                        
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input class="form-control" type="date" id="startDate" value="@startDate">
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input class="form-control" type="date" id="endDate" value="@endDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Log Rows

                            <button type="button" class="btn btn-xs btn-info pull-right" id="toggleAutoRefreshLogs" data-toggle="button">Auto-Refresh</button>

                            <button class="btn btn-xs btn-success pull-right" id="refreshLogs" disabled="disabled">Refresh</button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="logViewer"></div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-success btn-xs pull-left disabled" id="previousPage">&laquo; Newer</button>
                        Page <span id="currentPage">1</span> of <span id="totalPages">1</span>
                        <button class="btn btn-success btn-xs pull-right disabled" id="nextPage">Older &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dataViewerModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Data Viewer: <span id="dataViewerTitle"></span></h4>
                </div>

                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            // Filter Elements
            const $searchQuery = $('#searchQuery');
            const $searchButton = $('#searchButton');
            const $logNameSelect = $('#logName');
            const $logLevelSelect = $('#logLevel');

            // Date Time Elements
            const $startDate = $('#startDate');
            const $endDate = $('#endDate');

            // Refresh Button Element
            const $refreshButton = $('#refreshLogs');
            const $autoRefreshButton = $('#toggleAutoRefreshLogs');

            // Log Viewer Element
            const $logViewer = $('#logViewer');

            // Pagination Elements
            const $previousPage = $('#previousPage');
            const $nextPage = $('#nextPage');
            const $currentPage = $('#currentPage');
            const $totalPages = $('#totalPages');

            // Misc. Variables
            let selectedPage = 1;

            $autoRefreshButton.on('click', function () {
                if ($autoRefreshButton.hasClass('active')) {
                    $refreshButton.removeAttr('disabled');
                } else {
                    $refreshButton.attr('disabled', 'disabled');
                }
            });

            function autoRefreshLogFiles() {
                if ($autoRefreshButton.hasClass('active')) {
                    refreshResults(true);
                }

                setTimeout(autoRefreshLogFiles, 1000);
            }

            function refreshResults(resetPage = true) {
                if (resetPage) {
                    selectedPage = 1;
                }

                $.get(`/query-log-events?${buildQueryString()}`, function (response) {
                    if (response.ok) {
                        refreshPager(response.paging);

                        $logViewer.html('');

                        let isOddRow = false;

                        for (let index in response.data) {
                            let logRow = response.data[index];
                            let rowClass = isOddRow ? 'odd' : '';
                            let logLevelLabelClass = 'label-default';

                            switch (logRow.logLevel) {
                                case 'DEBUG':
                                    logLevelLabelClass = 'label-success';
                                    break;
                                case 'WARNING':
                                    logLevelLabelClass = 'label-warning';
                                    break;
                                case 'ERROR':
                                    logLevelLabelClass = 'label-danger';
                                    break;
                                case 'INFO':
                                    logLevelLabelClass = 'label-info';
                                    break;
                            }

                            let buttons = '';

                            if (logRow.hasJson) {
                                buttons += '<button class="btn btn-xs btn-info json-button">JSON</button>';
                            }  else {
                                buttons += '<button class="btn btn-xs btn-default disabled">JSON</button>';
                            }

                            if (logRow.hasStackTrace) {
                                buttons += '<button class="btn btn-xs btn-danger trace-button">Trace</button>';
                            }  else {
                                buttons += '<button class="btn btn-xs btn-default disabled">Trace</button>';
                            }

                            const markup =
                                `<div class="logRowElement ${rowClass}" data-id="${logRow.id}">` +
                                    `<span class="label ${logLevelLabelClass}">${logRow.logLevel[0]}</span> ` +
                                    buttons +
                                    `<span class="logRowText">${logRow.timestamp} ${logRow.logText}</span>` +
                                '</div>';

                            $logViewer.append(markup);

                            isOddRow = !isOddRow;
                        }
                    }
                });
            }

            $.get('/meta-data', function (response) {
                if (response.ok) {
                    availableLogNames = response.data.names;
                    availableLogLevels = response.data.levels;

                    for (let index in response.data.names) {
                        const name = response.data.names[index];

                        $logNameSelect.append(`<option value="${name}">${name}</option>`);
                    }

                    for (let index in response.data.levels) {
                        const level = response.data.levels[index];

                        $logLevelSelect.append(`<option value="${level}">${level}</option>`);
                    }
                }
            });

            $searchQuery.keypress(function (evt) {
                if (evt.which === 13) {
                    refreshResults();
                }
            });

            $searchButton.click(refreshResults);
            $refreshButton.click(refreshResults);

            $logLevelSelect.change(refreshResults);
            $logNameSelect.change(refreshResults);

            $previousPage.click(function () {
                selectedPage--;

                refreshResults(false);
            });

            $nextPage.click(function () {
                selectedPage++;

                refreshResults(false);
            });

            $('body').on('click', '.json-button', showModal);
            $('body').on('click', '.trace-button', showModal);

            function showModal() {
                const $jsonButton = $(this);
                const $rowDiv = $jsonButton.parent();
                const eventId = $rowDiv.data('id');
                const isJson = $jsonButton.hasClass('json-button');

                $.get(`/single-log-event/${eventId}`, function (response) {
                    if (response.ok) {
                        const title = isJson ? 'JSON' : 'Stack Trace';
                        const content = isJson
                            ? `<pre><code class="json">${response.json}</code></pre>`
                            : `<pre>${renderStackTrace(response.stackTrace)}</pre>`;

                        $('#dataViewerTitle').html(title);
                        $('#dataViewerModal .modal-body').html(content);

                        if (isJson) {
                            hljs.highlightBlock($('code.json')[0]);
                        }

                        $('#dataViewerModal').modal({ show: true });
                    }
                });
            }

            function renderStackTrace(stackTrace) {
                let view = '<div class="stack-trace">';

                for (let index in stackTrace.lines) {
                    const line = stackTrace.lines[index];
                    const hasSource = line.hasSource;
                    const sourceLines = hasSource ? line.sourceLines : [];

                    const element = hasSource ? '<div class="trace-item-with-source">' : '<div>';

                    view += `<div>${element}${line.text}</div>`;

                    if (hasSource) {
                        let fullSource = '<table class="table table-condensed">';
                        const middleIndex = Math.floor((sourceLines.length - 1) / 2);
                        let sourceLineNumber = line.sourceStartLine;

                        for (var sourceIndex in sourceLines) {
                            const lineClass = parseInt(sourceIndex) === middleIndex ? 'info' : '';
                            const rawLine = sourceLines[sourceIndex];
                            const line = (!rawLine || rawLine.length === 0) ? '&nbsp;' : rawLine;

                            fullSource += `<tr class="${lineClass}"><th>${sourceLineNumber}</th><td>${line}</td></tr>`;

                            sourceLineNumber++;
                        }

                        fullSource += '</table>';

                        view += `<div class="source well" style="display: none;">${fullSource}</div>`;
                    }

                    view += '</div>';
                }

                view += '</div>';

                return view;
            }

            $('body').on('click', '.trace-item-with-source', function () {
                const $traceLine = $(this);
                const $sourceContent = $traceLine.siblings('.source');

                $sourceContent.slideToggle();
            });

            function buildQueryString() {
                const currentLogName = $logNameSelect.val();
                const currentLogLevel = $logLevelSelect.val();
                const searchQuery = $searchQuery.val();
                const startDate = $startDate.val();
                const endDate = $endDate.val();

                let params = {
                    pageNumber: selectedPage
                };

                if (currentLogName) {
                    params.logName = currentLogName;
                }

                if (currentLogLevel) {
                    params.logLevel = currentLogLevel;
                }

                if (searchQuery) {
                    params.searchText = searchQuery;
                }

                if (startDate && endDate) {
                    params.startDate = startDate;
                    params.endDate = endDate;
                }

                return $.param(params);
            }

            function refreshPager(pagingData) {
                const pageNumber = pagingData.pageNumber;
                const totalPages = pagingData.totalPages;

                if (pageNumber > 1) {
                    $previousPage.removeClass('disabled');
                } else {
                    $previousPage.addClass('disabled', 'disabled');
                }

                if (pageNumber < totalPages) {
                    $nextPage.removeClass('disabled');
                } else {
                    $nextPage.addClass('disabled', 'disabled');
                }

                $currentPage.html(pageNumber);
                $totalPages.html(totalPages);
            }

            autoRefreshLogFiles();
        });
    </script>
</body>
</html>